<footer>

    

    <div class="footer-container">
        <div class="social-icons">
            <a href="mailto:nigarbnytv3@gmail.com"><i class="fa-brands fa-instagram"></i> </a>
            <a href="mailto:nigarbnytv3@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/nigar-bunyatova-54aaa6134/"> <i class="fa-brands fa-linkedin"></i>  </a>
            <a href="mailto:nigarbnytv3@gmail.com"><i class="fa-brands fa-google"></i> </i></a>
            <a href="mailto:nigarbnytv3@gmail.com"><i class="fa-brands fa-youtube"></i> </a>
        </div>
    

</div>
    
<div class="footer-bottom">


    <p class="text-light">CopyRight &copy.2024 by <span class="designer">Nigar Bunyatova</span>   </p>

</div>
</footer>
    
<script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>


</body>

</html>
