<%-  include("partials/head.ejs");  %>
<%- include("partials/header.ejs")  %>

    <h1> About  </h1>

    <h2> Weather & News Website has been decorated by Nigar Bunyatova. In this website you can choose one of the direction and find some interesting information about current weather all over the world or choose news and search worlds news.       </h2>





<%- include("partials/footer.ejs");  %>