
<%- include("partials/head.ejs"); %>

<%- include("partials/header.ejs");  %>

<h1>Contacts</h1>

<h2> Contact me on social media or send a message by email. </h2>



<%- include("partials/footer.ejs");  %>
