<%- include("partials/head.ejs");  %>

<%- include("partials/header.ejs")  %>


<% if (locals.content){ %>
<h1>   W E L C O M E    </h1 >
<h2>  <%= content %>  </h2>

<% }else{ %>
<h2>This is index page</h2>
<%  } %>








<form  method="POST">
  <input type="submit" class="btn btn-success" 
  value="W E A T H E R" formaction="/weather" > 
</form>


<form method="POST">
   <input type="submit" class="btn btn-info"
    value="N E W S "  formaction="/news"      > 
</form>



<%- include("partials/footer");  %>